.descriptionWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    background-color: white;
}

.description {
    margin: 20vh;
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.1rem;
    font-weight: 500;
}

.description p {
    color: black;
}

.description span {
    color: #9ea7ae;
    font-weight: 400 !important;

}

.description strong {
    color: black;
    font-weight: 550;
}

.downArrowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 20vh;
    border-radius: 100%;
    background: linear-gradient(140.86deg, #65ECD8 11.07%, #FDEF78 80.28%);
    margin-bottom: 10vh;
}

.downArrow img {
    rotate: 90deg;
    height: 10vh;
    width: 10vh;
}