.downloadContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background:  linear-gradient(140.86deg, #65ECD8 11.07%, #FDEF78 80.28%);
    color:black;
    font-weight: 500;
    font-size: 1.5rem;
    height: 35vh;
    gap:4vw
  }
  .downloadLinksContainer{
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    gap:1vw;
    justify-content: center;
    align-items: center;
   
  }
  .downloadLink{
    width:10vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-color: black;
    border-radius: 10px;
  }
  .securityContainer{
    display: flex;
    width: 100%;
    background-color: rgba(34,34,34,1);
    height: 10vh;
    justify-content: center;
    align-items: center;
    color:rgba(141,141,149,1);
    font-size: 0.7rem;
    gap:1vw
  }
  .securityContainer img{
    height: 8vh;
    width: 8vh;
    object-fit: contain;
  }